// buttons

@mixin button-hov($bck) {
    transition: transform .5s ease-out;
    &:hover {
        background-color: lighten($bck, 10%);
        cursor: pointer;
        transform: scale(1.05);
    }
}

// images

@mixin image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}